extends ../mod.pug
block content
    h1.
        Wacky Events
    h2.
        Latest: 1.0.0
    p.
        WaffleDevs
    p.
        Uses RandomEventsLib to add several WaCkY eVeNtS. Read my code at https://github.com/WaffleDevs/shapez.io-mods/blob/master/WackyEvents/index.ts