extends ../mod.pug
block content
    h1.
        Seed+
    h2.
        Latest: 1.0.0
    p.
        WaffleDevs
    p.
        Allows you to view a save's seed, and create saves with custom seeds.
        img.center(src="thumb.webp")