block content
    h1.
        Json Shapez
    h2.
        Latest: 1.0.0
    p.
        WaffleDevs
    p.
        Allows the usage of JSON and Shapez Codes. When inputting into a constant signal, both work. <br><br>
        <img src="https://image.modcdn.io/members/fed9/10146771/profile/si-transparent.png" alt="si transparent" width="288" height="63"><br><br>



        Sample shape: <br>
    code. 
        [<br>
        &emsp;[<br>
        &emsp;&emsp;{"subShape":"rect","color":"uncolored"},<br>
        &emsp;&emsp;{"subShape":"circle","color":"white"},<br>
        &emsp;&emsp;null,<br>
        &emsp;&emsp;{"subShape":"circle","color":"white"}<br>
        &emsp;], [<br>
        &emsp;&emsp;null,<br>
        &emsp;&emsp;null,<br>
        &emsp;&emsp;{"subShape":"rect","color":"uncolored"},<br>
        &emsp;&emsp;null<br>
        &emsp;]<br>
        ]<br>