block content
    h1.
        EMC
    h2.
        Latest: 1.0.0
    p.
        WaffleDevs
    p.
        Adds buildings to deconstruct matter into emc. This emc can be reconstructed into matter later.
    br
    p.
        Building and Icon sprites made with love by <a href="https://twitter.com/CrimbusJimbus">CrimboJimbo</a>