block content
    h1.
        EMC
    h2.
        Latest: 1.0.0
    p.
        Adds buildings to deconstruct matter into emc. This emc can be reconstructed into matter later.
        
        <br>
        <a href="https://mod.io/g/shapez/m/shapez-industries" target="_blank" title="Shapez Industries" rel="noopener"><img src="https://image.modcdn.io/members/fed9/10146771/profile/si-transparent.png" alt="si transparent" width="288" height="63"></a>
        <br>

        Building and Icon sprites made with love by <a href="https://twitter.com/CrimbusJimbus">CrimboJimbo</a>
        <br>
        <br>
    h3.
        Buildings:
    p.
        <br>
        <strong>Shape Shop:</strong>
        <br>
        <br>
        Allows you to construct a shape using EMC. The price of the shape is dependent on the types of quadrants, their color, and how many layers there are.
        <br>
        <br>
        You can edit the Shape Buyer's shape by clicking on it and inputting a new shape, or by passing it a wire input. 
        <br>

        The wire input will be prioritized but disabling the input or inputing a non shape will revert the shape to the GUI's input.
        <br>
        <br>
        <strong>Shape Seller:</strong>
        <br>
        <br>
        Allows you to deconstruct a shape into pure EMC. This process isn't perfect, and you lose around 10% of matter.


        <br>   
        <br>   
    h2.
        Weights
    p.
        This mod has pre-defined weights that are used to calculate the "value" of a shape.<br>
        Below are the default values: <br>
        <br><br> 
        <strong>Shape Weights:</strong>  <br><br> 
            Circle: 1 <br>
            Rectangle: 1.2 <br>
            Star: 1.5 <br>
            Windmill: 2 <br>
            
            _: 2.5 // This is the Shapez Industries sign for a merged shape. <br>
            1: 3 // SI Merge Of Circle + Star  <br>
            2: 2.5 // SI Merge Of Rectangle + Circle <br>
            3: 3 // SI Merge Of Star + Rectangle <br>
            4: 3.5 // SI Merge Of Circle + Windmil <br>
            5: 3.5 // SI Merge Of Rectangle + Windmill <br>
            6: 4  // SI Merge Of Star + Windmill <br>
         <br>
        <strong>Color Weights:</strong>  <br><br> 
            Uncolored: 1 <br>
            Red: 1.2 <br>
            Green: 1.2 <br>
            Blue: 1.2 <br>
            Yellow: 1.4 <br>
            Cyan: 1.4 <br>
            Purple: 1.4 <br>
            White: 1.8 <br>
        <br>
            _: 2 // This is the Shapez Industries sign for a merged shape. <br>
         <br>
        <strong>Layer Weights:</strong> <br><br> 
            1: 1 <br>
            2: 1.5 <br>
            3: 2 <br>
            4: 3 <br>
         <br>

        Oh also if you can summon 10k of a shape, it's free.
        <br>   
        <br>   

    h2.
        Mods
    p.
        EMC has several methods that allows anyone to add EMC value to their shapes and colors. This isn't a main focus so it isn't that refined.<br><br>
        <strong>Shapes and Colors</strong> <br><br>
        To add new shapes and colors to the EMC tables, use the following code where I add a shape code of "L" and a color code of "m":<br>
        <code>
            shapez.globalConfig["emcWeights"].shapes["L"] = 2; // This number is the 'value' of the quadrant.
            shapez.globalConfig["emcWeights"].colors["m"] = 2; // This number is the 'multiplier' of the quadrant.
        </code>
        <br>
        This obviously adds some risk of overwriting other mods, but thats fine by me.<br>
        You can also use this to edit the values to your liking if you are too lazy to edit the settings file.
    p.
        <br>
        